:root {
  --primary: #7add55;
  --secondary: #ff63e9;
  --tertiary: #000008;
  --white: #f6f7f8;
  --softwhite: #c0c0c0;
}

body {
  background-color: var(--tertiary);
  margin: 40px auto;
  width: 70%;
}

h1 {
  color: var(--primary);
  font-size: 3.3em;
  font-family: 'Consolas', 'Arial', 'Sans-Serif';
  margin-bottom: 0;
}

h2 {
  color: var(--softwhite);
  font-family: 'Sans-Serif';
  font-size: 1.2em;
}

p {
  color: var(--softwhite);
  font-family: 'Sand-Serif';
}

nav {
  border-bottom: 2px solid var(--white);
}

footer {
  border-top: 2px solid var(--white);
}

nav ul,
footer a {
  font-family: 'Consolas', 'Arial', 'Sans-Serif';
  list-style: none;
  padding: 0px;
  font-size: 1.2em;
}

nav ul li {
  display: inline;
  margin-right: 25px;
}

nav ul li a,
footer a {
  color: var(--secondary);
  text-decoration: none;
}

.nav-right {
  float: right;
  color: var(--secondary);
  margin-right: 25px;
}

.copy {
  font-family: 'Consolas', 'Arial', 'Sans-Serif';
  color: var(--white);
}
